.c-grid {
  $cellSizeWidth: 125px;
  $cellSizeHeight: $cellSizeWidth;
  $cellSizeWidthMobile: 90px;
  $cellSizeHeightMobile: 120px;

  position: relative;
  grid-template-columns: 25px repeat(3, $cellSizeWidthMobile);

  @screen sm {
    grid-template-columns: repeat(4, $cellSizeWidth);
    left: calc($cellSizeWidth/-2);
  }

  .c-grid__cell {
    aspect-ratio: 3 / 4;

    @screen sm {
      aspect-ratio: 1;
    }
  }

  .c-grid__rowCat {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: $cellSizeHeightMobile;
    text-align: center;

    @screen sm {
      writing-mode: horizontal-tb;
      transform: rotate(0deg);
      height: $cellSizeHeight;
      text-align: left;
    }
  }
}
