.p-index {
  $carouselGradientWidth: 2rem;

  %pseudo-gradient {
    content: '';
    transition: opacity 0.4s;
    position: absolute;
    width: $carouselGradientWidth;
    top: 0;
    height: 100%;
    z-index: theme('zIndex.10');
  }

  .p-index__container {
    position: relative;
  }

  .p-index__container--right--toggle::before {
    opacity: 0;
  }

  .p-index__container--left--toggle::after {
    opacity: 1;
  }

  @screen sm {
    .p-index__container {
      &::before,
      &::after {
        content: none
      }
    }
  }
}